/* button{
    position: absolute;
    top: 50%;
    left: 50%;
    padding:8px 16px;
    border: none;
    font-size: 24px;
    border-radius: 8px;


    transition-property: scale;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
button:hover{
background-color: yellowgreen;
cursor: pointer;
scale: 5;
} */



/* animation */


button{
    scale: 2;
    position: absolute;
    top: 20px;
    left: 40px;
    animation-name: type-1;
    animation-duration: 1ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
/* @keyframes type-1{
    from{
        top: 20px;
       left: 40px;
    }

    to{
        top: 400px;
        left: 500px;
    }
} */
@keyframes type-1{
    0%{
        top: 20px;
       left: 40px;
    }
    25%{
        top: 20px;
        left: 500px;
    }
    50%{
        top: 400px;
        left: 500px;
    }
    75%{
        top: 400px;
        left: 40px;
    }
    100%{
        top: 20px;
        left: 40px;
    }
}